.Todo,
.TodoInput {
  height: 64px;
  display: flex;
  padding: 0 20px;
  align-items: center;
}
.TodoInput,
.TodosList {
  border-radius: 5px;
  background-color: var(--main-bg);
}

.TodoInput {
  position: relative;
}
.errorMsg {
  color: red;
  right: 15px;
  font-size: 14px;
  position: absolute;
}
@media (max-width: 549px) {
  .errorMsg {
    left: 10px;
    right: initial;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: black;
    bottom: calc(100% + 4px);
  }
  .errorMsg::before {
    top: 100%;
    left: 10px;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: black transparent transparent;
  }
}

/*
  [1] Todo
*/

.noTasks,
.Todo {
  height: 57px;
  border-bottom: 1px solid var(--separator-color);
}
.noTasks {
  font-size: 16px;
  line-height: 57px;
  padding-left: 25px;
}
.paragraph {
  flex: 1;
  height: 100%;
  line-height: 57px;
  will-change: opacity;
}
.paragraph.completed {
  opacity: 0.5;
  text-decoration: line-through;
}
@media (max-width: 767px) {
  .Todo {
    height: 78px;
  }
  .paragraph {
    line-height: 78px;
  }
}
.removeTodo {
  opacity: 0;
  width: 18px;
  height: 18px;
  will-change: opacity;
  background-image: url(../../images/icon-cross.svg);
}

/* Interactive */
.Todo:hover .TodoCheck[aria-checked="false"],
.TodoCheck[aria-checked="false"]:hover,
.TodoCheck[aria-checked="false"]:focus-visible {
  border-color: transparent;
  background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.Todo:hover .TodoCheck[aria-checked="false"]::after,
.Todo:focus-visible .TodoCheck[aria-checked="false"]::after,
.TodoCheck[aria-checked="false"]:hover::after,
.TodoCheck[aria-checked="false"]:focus-visible::after {
  content: "";
}
.Todo:hover .removeTodo,
.removeTodo:focus-visible {
  opacity: 1;
}

/*
  [2] TodoInput
*/

.TodoInput {
  margin-bottom: 24px;
}
.TodoInput input {
  caret-color: var(--blue);
}
@media (max-width: 767px) {
  .TodoInput {
    height: 48px;
    margin-bottom: 16px;
  }
  .TodoInput input {
    width: calc(100% - 22px - 20px);
  }
}
@media (max-width: 374px) {
  .TodoInput ::-webkit-input-placeholder {
    font-size: 14px;
  }
  .TodoInput ::-moz-placeholder {
    font-size: 14px;
  }
  .TodoInput :-ms-input-placeholder {
    font-size: 14px;
  }
  .TodoInput ::-ms-input-placeholder {
    font-size: 14px;
  }
  .TodoInput ::placeholder {
    font-size: 14px;
  }
}

/*
  [3] TodoCheck
*/

.TodoCheck {
  width: 22px;
  height: 22px;
  outline: none;
  margin-right: 20px;
  border-radius: 50%;
  position: relative;
  border: 1px solid var(--checkbox-color);

  transition: 0.3s;
  will-change: border-color, background-image;
}
.TodoCheck::after {
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: inherit;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  transform: translate(-50%, -50%);
  background-color: var(--main-bg);
}
.TodoCheck[aria-checked="true"] {
  border-color: transparent;
  background: url(../../images/icon-check.svg) center no-repeat,
    linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
