.Main {
  position: absolute;
  width: 100%;
  top: 108px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 20px;
}
.Note {
  font-size: 14px;
  text-align: center;
  color: var(--controls-color);
}

@media (min-width: 768px) {
  .Main {
    top: 158px;
  }
}
