.Controls {
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 50px;
  color: var(--controls-color);
}

.DesktopControls,
.MobileControls {
  display: none;
}

.Links {
  gap: 20px;
  font-weight: 700;
}

.Links > li:hover,
.Controls button:hover {
  color: var(--controls-hover-color);
}

/*
  Media
*/

@media (max-width: 767px) {
  .MobileControls {
    row-gap: 16px;
    display: flex;
  }
  .MobileControls > * {
    background-color: var(--main-bg);
  }

  .MobileControls p,
  .MobileControls button {
    width: 50%;
    height: 50px;
    line-height: 50px;
  }
  .MobileControls p {
    padding-left: 20px;
    border-bottom-left-radius: 5px;
  }
  .MobileControls button {
    text-align: right;
    padding-right: 20px;
    border-bottom-right-radius: 5px;
  }

  .Links {
    flex: 1;
    height: 48px;
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  .DesktopControls {
    height: 45px;
    padding: 15px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg);

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
