.Header,
.ThemeToggler {
  will-change: background-image;
  transition: background-image 0.3s;
}

.Header {
  height: 300px;
  padding-top: 78px;
  background-size: 100% 100%;
  background-image: var(--header-image);
}

.Logo {
  color: white;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.ThemeToggler {
  width: 26px;
  height: 26px;
}

@media (max-width: 767px) {
  .Header {
    height: 200px;
    padding-top: 48px;
  }

  .Logo {
    font-size: 1.7em;
  }
}
