/*
** Simple reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

button,
input {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}

ul {
  list-style: none;
}

/*
** Global styles
*/

:root {
  --blue: hsl(220, 98%, 61%);
}

body {
  color: var(--body-color);
  will-change: background-color;
  transition: background-color 0.3s;
  background-color: var(--body-bg);
  font: 400 18px/1 "Josefin Sans";
}
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

/*
** Themes
*/

html {
  --body-bg: hsl(0, 0%, 98%);
  --body-color: hsl(235, 19%, 35%);
  --main-bg: hsl(0, 0%, 100%);

  --controls-color: hsl(236, 9%, 61%);
  --controls-hover-color: var(--body-color);

  --checkbox-color: hsl(233, 11%, 84%);
  --separator-color: hsl(236, 33%, 92%);

  --header-image: url(images/bg-desktop-light.jpg);
}

html.dark {
  --body-bg: hsl(235, 21%, 11%);
  --body-color: hsl(234, 39%, 85%);
  --main-bg: hsl(235, 24%, 19%);

  --controls-color: hsl(234, 11%, 52%);
  --controls-hover-color: hsl(236, 33%, 92%);

  --checkbox-color: hsl(237, 21%, 39%);
  --separator-color: hsl(233, 14%, 35%);

  --header-image: url(images/bg-desktop-dark.jpg);
}

@media (max-width: 500px) {
  html {
    --header-image: url(images/bg-mobile-light.jpg);
  }

  html.dark {
    --header-image: url(images/bg-mobile-dark.jpg);
  }
}

/*
** Utilities
*/

.shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
}

.rounded {
  border-radius: 6px;
}
@media (max-width: 767px) {
  .rounded {
    border-radius: 4px;
  }
}

.control {
  font-size: 14px;
  font-weight: 700;
  will-change: color;
  transition: color 0.3s;
  text-transform: capitalize;
  color: var(--controls-color);
}
.control:disabled {
  opacity: 0.6;
  cursor: no-drop;
}
.control.active {
  color: var(--blue);
  pointer-events: none;
}
.control:not([disabled], .active):is(:hover, :focus-visible) {
  color: var(--controls-hover-color);
}

.rect {
  height: 64px;
  display: flex;
  align-items: center;
  padding-inline: 24px;
  background-color: var(--main-bg);
  -moz-column-gap: 24px;
  column-gap: 24px;
}
@media (max-width: 767px) {
  .rect {
    height: 53px;
    padding-inline: 20px;
    -moz-column-gap: 12px;
    column-gap: 12px;
  }
}
.rect > :nth-child(2):not(.control) {
  flex: 1;
}
.rect:not(:last-child, :only-of-type) {
  border-bottom: 1px solid var(--separator-color);
}

.d-sm-flex {
  display: none !important;
}
.d-md-flex {
  display: flex !important;
}
@media (max-width: 767px) {
  .d-sm-flex {
    display: flex !important;
  }
  .d-md-flex {
    display: none !important;
  }
}

/*
** Grid
*/

.container {
  width: 90%;
  max-width: 540px;
  margin-inline: auto;
  padding-inline: 24px;
}
