/*
** Simple reset
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100vh;
}

button,
input {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

input:focus {
  outline: none;
}

::placeholder {
  color: inherit;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
** Global styles
*/

:root {
  --blue: hsl(220, 98%, 61%);
}

body {
  color: var(--body-color);
  will-change: background-color;
  transition: background-color 0.3s;
  background-color: var(--body-bg);
  font: 400 18px "Josefin Sans", sans-serif;
}

/*
  Themes
*/

html {
  --body-bg: hsl(0, 0%, 98%);
  --body-color: hsl(235, 19%, 35%);
  --main-bg: hsl(0, 0%, 100%);

  --controls-color: hsl(236, 9%, 61%);
  --controls-hover-color: var(--body-color);

  --checkbox-color: hsl(233, 11%, 84%);
  --separator-color: hsl(236, 33%, 92%);

  --header-image: url(images/bg-desktop-light.jpg);
  --theme-toggler-image: url(images/icon-moon.svg);
}

html.dark {
  --body-bg: hsl(235, 21%, 11%);
  --body-color: hsl(234, 39%, 85%);
  --main-bg: hsl(235, 24%, 19%);

  --controls-color: hsl(234, 11%, 52%);
  --controls-hover-color: hsl(236, 33%, 92%);

  --checkbox-color: hsl(237, 14%, 26%);
  --separator-color: hsl(233, 14%, 35%);

  --header-image: url(images/bg-desktop-dark.jpg);
  --theme-toggler-image: url(images/icon-sun.svg);
}

@media (max-width: 375px) {
  html {
    --header-image: url(images/bg-mobile-light.jpg);
  }

  html.dark {
    --header-image: url(images/bg-mobile-dark.jpg);
  }
}

/*
  Utilities
*/

.space-between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: var(--blue) !important;
}

/*
  Grid
*/

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (min-width: 768px) {
  .container {
    max-width: 540px;
  }
}
